// bower:scss
// endbower

* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "PT Sans",'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #757575;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

a {
    color: #268bd2;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

.center {
    text-align: center;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-bottom {
    @media (min-width: 48rem) {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}

.sidebar {
    @media (min-width: 48rem) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 18rem;
        text-align: left;
    }
    .navlist {
        padding-left: 0;
        list-style: none;
    }
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: #009688;
    a {
        color: #fff;
    }
    a:hover {
        color: #DD2C00;
        border-bottom: 1px dotted #DD2C00;
        padding: 0 0 2px;
    }
    .about {
        h1 {
            color: #fff;
            margin-top: 0;
            font-family: "Abril Fatface", serif;
            font-size: 3.25rem;
        }
        .lead {
            font-size: 1.25rem;
            font-weight: 300;
        }
        img {
            text-align: center;
            width: 5rem;
            margin-left: 3.5rem;
            margin-bottom: 2rem;
            border-radius: 5rem;
        }
    }
    .siteinfo {
        font-size: 0.8rem;
    }
}

.content {
    @media (min-width: 64rem) {
        max-width: 38rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
    @media (min-width: 48rem) {
        margin-left: 24rem;
        margin-right: 4rem;
    }
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.page, .post {
    margin-bottom: 1em;
    .title {
        margin-top: 0;
        color: #303030;
        a {
            color: #303030;
            &:hover {
                color: #fff;
            }
        }
        &:hover {
            background: #FF7043;
            color: #fff;
            padding: 30px 12px;
            border-radius: 1rem;
        }
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .date {
        display: block;
        margin-top: -.5rem;
        margin-bottom: 1rem;
        color: #9a9a9a;
    }
}
